<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/ra1nyxin/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ra1nyxin" />
      <add key="ClearTextPassword" value="%GH_TOKEN%" /> </github>
  </packageSourceCredentials>
</configuration>
